{{yield}}

{{#paper-card}}
   <md-card-title>
    <md-card-title-text>
      <div class="layout-row">
        {{#if invoice.received}}
          <span class="md-title flex">{{invoice.payee.name}}</span>
        {{else}}
          <span class="md-title flex">{{invoice.payer.name}}</span>
        {{/if}}
    </div>
      <span class="md-subhead">
        Invoice{{#if invoice.identifier}} #: {{invoice.identifier}}{{/if}}
      </span>
      <span class="md-subhead">
        Issued {{moment-js invoice.issued 'll'}}
      </span>
      {{#if invoice.due}}
        <span class="md-subhead">
          Due {{moment-js invoice.due 'll'}}
        </span>
      {{/if}}
    </md-card-title-text>
  </md-card-title>

  {{paper-divider}}

  {{#paper-card-content}}
    <span>{{format-money invoice.total invoice.currency.currency invoice.currency.symbol}}</span>
  {{/paper-card-content}}

{{/paper-card}}
